<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create or View Dojos</title>
</head>
<body>
    <div class="container">
        <div class="left">
            <h1 class="newDojo"> New Dojo </h1>

            <form action="/createDojo" method="post">
                <label for="name">Name</label>
                <input type="text" name="name">
                <input type="submit" value="Create Dojo">
            </form>
        </div>

        <div class="right">
            <h1 class=""> All Dojos </h1>
            <div class="rightbox">

                {% for dojo in all_dojos %}
                <h3><a href="/dojos/{{ dojo.id }}">{{ dojo.name}}</a></h3>
                {% endfor %}
            </div>
            <div>
                <h3 class="addNinja">
                    <a href="/ninjas">Add Ninja</a>
                </h3>
            </div>

            
        </div>

    </div>

</body>
</html>