<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/createNinja" method="post" class="p-3 col-4 mx-auto my-5 bg-dark text-light">
        <h2 class="text-center text-primary">New Ninja:</h2>
    
        <div class="form-group">
            <label for="name">Dojo:</label>
            <select name = "Dojo_id" class="form-group">
                <option disabled selected value> -- select a Dojo -- </option>
                {% for dojo in all_dojos %}
                <option value="{{ dojo.id }}">{{ dojo.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="first_name"> First Name:</label>
            <input type="text" name="first_name" id="first_name" class="form-control">
        </div>
        <div class="form-group">            
            <label for="last_name"> Last Name:</label>
            <input type="text" name="last_name" id="last_name" class="form-control">
        </div>
        <div class="form-group">
            <label for="age">Age:</label>
            <input type="number" name="age" id="age" class="form-control">
        </div>
        <input type="submit" value="Create Ninja" class="btn btn-primary btn-outline-dark">
    </form>
    <h3><a href="/dojos">Home</a></h3>

</body>
</body>
</html>